@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-color: #1F2937;
    --light-color: #F9FAF8;
    --accent-color: #3882F6;
    --neutral-color: #E5E7EB;

    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0.25rem 1rem;
    border-radius: 5px;
    border: none;
}

.tiny {
    font-size: 0.5rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1rem;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.primary-links {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    gap: 1.5rem;
}

.primary-links a {
    color: var(--neutral-color);
}

.hero {
    background-color: var(--dark-color);
    color: var(--neutral-color);
    padding: 1rem;
    font-size: 1.125rem;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 3rem auto;
}

.hero-contents p {
    margin-bottom: 0.5rem;
}

.hero-main-text {
    font-size: 3rem;
    color: var(--light-color);
    font-weight: 900;
    margin: 0;
}

.hero-sign {
    background-color: var(--accent-color);
    color: var(--light-color);
}

.hero-image {
    width: 50%;
    height: auto;
    border-radius: 20px;
}

.info {
    padding: 2rem;
}

.info h2 {
    font-size: 2rem;
    font-weight: 900px;
    text-align: center;
    margin-bottom: 2rem;
}

.info .container {
    margin-bottom: 2rem;
}

.info .items {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.info .item {
    width: 20%;
    text-align: center;
}

.info .item img {
    width: 100%;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
}

.quote {
    background-color: var(--neutral-color);
    padding: 3rem 0;
}

.quote-text {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    color: var(--dark-color);
    line-height: 1.5;
}

.quote-author {
    font-size: 1.5rem;
    text-align: right;
    font-weight: 900;
}

.cta {
    padding: 3rem 0;
}


.cta-content {
    padding: 1.5rem 2rem;
    background-color: var(--accent-color);
        display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.cta-text {
    color: var(--light-color);
}

.cta-btn {
    border: 2px solid var(--light-color);
    background-color: transparent;
    color: var(--light-color);
}

footer {
    padding: 2rem 0;
    background-color: var(--dark-color);
    text-align: center;
    color: var(--light-color)
}